
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
  font-family: 'Living Colours';
  src: url('../fonts/Living-Colours.ttf');
}

@font-face {
  font-family: 'Coco-Gothic';
  src: url('../fonts/Coco-Gothic.ttf');
}

@font-face {
  font-family: 'Coco-Light';
  src: url('../fonts/Coco-Light.ttf');
}

body {
  position: relative;
  background: rgba(186,54,208, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(138, 243, 255, 1), rgba(186,54,208, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(138, 243, 255, 1), rgba(186,54,208, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(138, 243, 255, 1), rgba(186,54,208, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(138, 243, 255, 1), rgba(186,54,208, .9)); /* Standard syntax */
}

h1 {
  font-family: 'Living Colours';
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

h4, h3, p, li {
  font-family: 'Coco-Gothic';
}

h5 {
  font-family: 'Living Colours';
  font-size: 18px;
  vertical-align: middle;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  /*padding-bottom: 2px;*/
}

h5:hover {
  color: rgb(186,54,208);
}

p, li {
  font-family: 'Coco-Light';
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(186,54,208, 1);
}

table {
  position: absolute;
  top: 230px;
  left: 370px;
  z-index: 3;
  border-spacing: 0.5rem;
  /*border-collapse: collapse;*/
  /*border: 1px solid black;*/
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Coco-Gothic';
  font-size: 12px;
}

th {
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5em;
  text-align: left;
}

th:nth-of-type(4n+1) {
  background: grey;
}

.masthead {
  position: fixed;
  box-shadow: 0px 6px 6px rgba(108, 108, 109, 0.2);
  width: 100%;
  z-index: 1;
  padding-left: 5px;
  background: rgba(186,54,208, 1); /* For browsers that do not support gradients
  background: -webkit-linear-gradient(left, rgba(138, 243, 255, 1), rgba(186,54,208, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(138, 243, 255, 1), rgba(186,54,208, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(138, 243, 255, 1), rgba(186,54,208, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(138, 243, 255, 1), rgba(186,54,208, 1)); /* Standard syntax */*/
}

.container {
  position: absolute;
  vertical-align: middle;
}

.menu-bar {
  width: 98%;
  border: 1px solid black;
  overflow: auto;
  height: auto;
  background: white;
  margin-right: 10px;
}

.menu-bar h5 {
  float: left;
  padding-left: 7%;
  padding-right: 7%;
}

.description {
  position: absolute;
  font-family: 'Coco-Gothic';
  font-size: 12px;
  font-style: italic;
  display: none;
}

#product-image {
  width: 650px;
  margin-top: 205px;
  margin-left: 20px;
}

#product-image-hover {
  width: 650px;
  margin-top: 205px;
  margin-left: 20px;
  position: absolute;
  z-index: -1;
}

/*#product-image:hover{
  display: none;
}*/

#caption {
  background: black;
  color: white;
  width: 80px;
  text-align: center;
  padding: 2px;
  position: absolute;
  left: 455px;
  top: 210px;
  font-size: 30px;
}

#product-info {
  position: absolute;
  top: 205px;
  left: 700px;
  border-style: dashed;
  border-width: thin;
  width: 100%;
  background: white;
  font-size: 14px;
  padding: 5px;
}

#size-info {
  position: absolute;
  left: 310px;
  top: 235px;
}

#color-size-info {
  position: absolute;
  top: 200px;
  left: 300px;
}

.gallery {
  position: absolute;
  top: 500px;
  left: 700px;
  float: right;
  border: solid 1px black;
  width: 610px;
  background: rgba(255, 255, 255, 1);
  padding-left: 15px;
  padding-top: 0px;
  padding-right: 0;
  font-size: 14px;
}

#shirt {
  float: left;
  margin-left: 25px;
  margin-right: 40px;
}

#shirt-description {
  left: 33px;
}

#renee-sunglasses {
  float: left;
  margin-right: 40px;
}

#renee-description {
  left: 225px;
}

#speaker {
  float: left;
}

#speaker-description {
  left: 415px;
}

#slay {
  float: left;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 40px;
}

#slay-description {
  left: 33px;
  top: 150px;
}

#timeless-sunglasses {
  margin-top: 5px;
  float: left;
  margin-right: 40px;
}

#timeless-description {
  left: 225px;
  top: 150px;
}

#cactus {
  margin-top: 5px;
  float: left;
  margin-right: 10px;
}

#cactus-description {
  left: 415px;
  top: 150px;
}

.hover-image:hover {
  box-shadow: 0px 0px 100px rgb(14, 185, 210);
  border: 1px solid rgb(14, 185, 210);

}

.hover-image:hover ~ .description {
  display:inline;
}
